<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gotobus.mapper.IssueCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.gotobus.pojo.IssueCategory" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="website" property="website" jdbcType="TINYINT" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="icon_name" property="iconName" jdbcType="VARCHAR" />
    <result column="url_name" property="urlName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>