<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gotobus.mapper.ReferFriendMapper">
  <resultMap id="BaseResultMap" type="com.gotobus.pojo.ReferFriend">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="invite_user_id" jdbcType="INTEGER" property="inviteUserId" />
    <result column="be_invite_user_id" jdbcType="INTEGER" property="beInviteUserId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="website" jdbcType="INTEGER" property="website" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.gotobus.pojo.ReferFriend">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="invite_user_id" jdbcType="INTEGER" property="inviteUserId" />
    <result column="be_invite_user_id" jdbcType="INTEGER" property="beInviteUserId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="website" jdbcType="INTEGER" property="website" />
  </resultMap>
</mapper>